* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.text-primary {
  color: #fd6e0a;
  display: inline-block;
}
.btn-primary {
  background-color: #fd6e0a;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 18px;
}
a {
  text-decoration: none;
}

/* Header And Navigation styles */
.header {
  background-image: url(../images/developer.png), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left, bottom right;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

nav a {
  color: black;
}

/* banner styles */
.banner {
  display: flex;
  margin: 0 200px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-title {
  font-weight: 700;
  font-size: 75px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* Main Section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
/* About Sections style */
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* About Info Styles */
.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}
/* WHat i do styles */
.what-i-do {
}
.section-title {
  text-align: center;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background-color: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}

/* Resume styles */
.resume {
}
.section-tile {
}
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-title {
}
.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .title {
  color: #474747;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.resume .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume .description {
  color: #757575;
}
.resume-button {
  text-align: center;
  margin-top: 50px;
}

/* COntact Styles */
.contact {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
}
.contact .section-title {
  text-align: left;
}

.contact input,
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
.contact input {
  height: 64px;
  
}
